#textdomain wesnoth-UMC-SotW
[textdomain]
    name="wesnoth-UMC-SotW"
    path="data/add-ons/Start_of_the_War/translations"
[/textdomain]

[campaign]
    id=Start_of_the_War
    name= _ "Start of the War"
    icon="units/dwarves/lord.png~RC(magenta>white)"

#ifver WESNOTH_VERSION >= 1.17.9
    image="portraits/dwarves/lord.webp"
#else
    image="portraits/dwarves/lord.png"
#endif

    abbrev=_ "SotW"
    define=CAMPAIGN_SOTW
    year="2000 BW"

    description=_ "Witness, firsthand, the beginning of the endless war between dwarves and trolls." + "
(Expert Level, 6 scenarios)"
    rank=700
    first_scenario="1_First_Encounter"

    {ENABLE_DWARVISH_RUNESMITH}
    {ENABLE_DWARVISH_ARCANISTER}

    {CAMPAIGN_DIFFICULTY EASY "units/dwarves/fighter.png~RC(magenta>white)" _"Sergeant" _"Easy"}
    {CAMPAIGN_DIFFICULTY NORMAL "units/dwarves/steelclad.png~RC(magenta>white)" _"Captain" _"Normal"}
    {CAMPAIGN_DIFFICULTY HARD "units/dwarves/lord.png~RC(magenta>white)" _"Commander" _"Hard"}

    [about]
        title= _ "Campaign Author"
        [entry]
            name = _ "Tahsin Jahin Khalid"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_SOTW
{~add-ons/War_of_Legends/campaign.cfg}
[binary_path]
    path=data/add-ons/Start_of_the_War
[/binary_path]
{~add-ons/Start_of_the_War/utils/}
{~add-ons/Start_of_the_War/scenarios/}
#endif
